<div class="pending-homepage">
  <div class="homepage-block col-md-2">
    <p>dskjhf</p>
  </div>

  <div class="homepage-block col-md-2">
    <p>dskjhf</p>
  </div>

  <div class="homepage-block col-md-2">
    <p>dskjhf</p>
  </div>

  <div class="homepage-block col-md-2">
    <p>dskjhf</p>
  </div>

  <div class="homepage-block col-md-2">
    <p>dskjhf</p>
  </div>
  </div>

<div class="pending-homepage">
  <div>
    <p>sdlkfjdsl</p>
  </div>
</div>